nav{
    background-color: gray;
    border: 1px black solid;
    font-weight: bold;
    position: fixed !important;
    top: 0;
    width: 100%;
    }
h2{
    padding: 15px;
    font-weight: bolder;
}
section>div>div>div{
    background-color: gray;
    padding: 8px;
}
section>div>div{
    padding: 8px;
}
.navbar-toggler-icon {
    background-image: url(https://www.flaticon.com/premium-icon/icons/svg/2182/2182954.svg);
  }
  a{
      color: black;
      font-weight: normal;
      text-align: center;
      border: 1px solid black;
  }
  body{
      padding-top: 58px;
  }